- title "ドラマを探す"

%h2#import #{params[:query]}が含まれるドラマ
- @dramas.each do |drama|
  .drama
    = link_to drama.title, drama

- form_tag nil, :method => :get do
  = text_field_tag :query
  = submit_tag "探す"
