- title h @drama.title

%p
  = h @drama.category.title

- @drama.episodes.each do |episode|
  .episode
    = link_to "・#{h(episode.num_and_title)}", episode

%h2 最近の見た
- @drama.watches.each do |watch|
  = render watch
