- title "見た！とは"

%p
  あなたがドラマを見たら、見た記録を残しましょう。それを見ることであなたのこれまでに見たドラマの履歴が残ります。
  レンタルしたドラマの履歴を残しておけば、レンタルビデオ屋さんで間違わずにレンタルできますね。
%p
  マイミクの「見た!」を見ることもできるので、次回であったときの話題になるかもしれません。
%p
  あなたと同じドラマを「見た!」人を探して、まだ見ていないドラマを探すこともできます。