- title "あのドラマみた？へようこそ！"

#drama_mita_logo{:style => "text-align:center;", :align => "center"}
  = image_tag(logo_image_path, :size => "100x100")

%p
  「あのドラマ見た？」は、マイミクとドラマ（例えば、プリズンブレイクや24）を見た履歴や感想を共有するアプリです。
%p
  マイミクの見た履歴や感想を見て、マイミクの新しい部分を発見してみましょう！
%p
  また、あなたの見たドラマをみんなにお知らせして、マイミクとの新しい話題を探してみませんか？

%hr

= link_to "マイミクの見たを見る", root_path
%br
= link_to "あなたの見たドラマを探す", dramas_path
